body {
  background-image: url("./images/cat\ background.jpg");
  margin-top: 10%;
  height: 400px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.border {
  padding: 1.5%, 1.5%;
}

img {
  width: 300px;
}
