body {
  background-image: url("./images/cat\ background.jpg");
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
  display: flex;
  justify-content: center;
  height: 100px;
  background: skyblue;
  margin-bottom: 5%;
}
.navContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 2.5%;
  width: 100%;
}

.navContainer h1 {
display: inline-block;
  background: #641111;
  color: white;
  text-shadow: 2px 2px #161616;
}
.navContainer h2 {
  background: white;
}

.border {
  padding: 1.5%, 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 300px;
}
.cat {
  font-size: 2rem;
  background: skyblue;
  padding: 2% 2%;
  margin: 0 1% 1% 1%;
}

.submit {
  background-color: blanchedalmond;
}
